<section class="main-content pb-5">
    <div class="container-fluid view homepage">
        <div class="container text-center wrapper row ">
            <div class="col-md-6 col-xs-12 left-content">
                <label>USERS</label>
                <h1 >
                    SNAPCARD
                    <BR>
                        FOR USERS
                </h1>
                <p>
                    Get rewarded at your favourite venues with SNAPCARD,
                    <br>
                    the region's #1 loyalty app

                </p>
                <button class="btn  btn-outline-dark btn-settings ml-1" routerLink="user-home" type="button">LEARN MORE</button>
            </div>
            <div class="col-md-6 col-xs-12 right-content">
                    <label>MERCHANTS</label>
                    <h1 class="hr">
                        SNAPCARD
                        <BR>
                            FOR MERCHANTS
                    </h1>
                    <p class="hr">
                            SnappCard is a fully automated customer engagement
                        <br>
                        and rewards platform
    
                    </p>
                    <button class="btn  btn-outline-dark btn-settings ml-1" routerLink="merchants-home" type="button">LEARN MORE</button>
                </div>
    

           

            </div>
        </div>
    
    

</section>