<footer class="bo">
    <div class="container">
        <div class="row wrapper">
            <div class="col-xs-8 col-sm-2 half-section hidden-xs hidden-sm">
                <ul>
                    <li>
                        <a routerLink="">ABOUT US</a>
                    </li>
                    <li>
                        <a routerLink="">PRIVACY POLICIY</a>
                    </li>
                    <li>
                        <a routerLink="">TERMS & CONDITIONS</a>
                    </li>
                    <li>
                        <a routerLink="">DASHBOARD ACCESS</a>
                    </li>


                </ul>

            </div>
            <div class="col-xs-8 col-sm-2 half-section hidden-xs hidden-sm">
                <ul>
                        <li>
                                <a routerLink="">MERCHANTS</a>
                            </li>
                            <li>
                                <a routerLink="">USERS</a>
                            </li>
                            <li>
                                <a routerLink="">DISCOVER</a>
                            </li>
                            <li>
                                <a routerLink="">CONTACT US</a>
                            </li>
        
                </ul>

            </div>
            <div class="col-xs-12 col-sm-4 text-center section">
                <p class="copyright">SnapCard-2019</p>
                <button class="btn  btn-outline-secondary btn-settings ml-1" type="button">DOWNLOAS SNAPCARD</button>
                <div class="links">
                    <a target="_blnk" class="btn app-store download-store" routerLink=""></a>
                    <a target="_blnk" class="btn play-store download-store" routerLink=""></a>
                    <a target="_blnk" class="btn bb-world download-store" routerLink=""></a>
                    
                </div>
                <P class="copyright">Loyalty solutions</P>
            </div>
            <div class="col-xs-12 col-sm-4 text-center section">
                <div class="social-container">
                    <p class="copyright">MADE WITH
                        <i class="heart fa fa-heart"></i>
                        IN EGYPT
                    </p>
                </div>
                <div class="socila-links">
                    <a target="_blank" routerLink="">
                            <i class="fab fa-instagram fa-3x mr-4"></i> 
                    </a>
                    <a target="_blank" routerLink="">
                            <i class="fab fa-twitter fa-3x mr-4"></i> 
                    </a>
                    <a target="_blank" routerLink="">
                            <i class="fab fa-facebook fa-3x "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>