<div>&ensp</div>
<div class="main-content">
    <div class="container pt-5">
        <div class="row">
            <div class="pt-5 pr-5 icon-style">
                <i class="fas fa-map-marker-alt"></i>
                <span class="pl-2">No location is set yet</span>
            </div>
            <div class="input-group">
                    <input type="text" class="form-control location-settings" placeholder="ENTER YOUR LOCATION... ">
                    <div class="">
                        <button class="btn btn-color-first btn-height" type="button">
                            FIND NEARBY
                        </button>
                        <button class="btn btn-color-second ml-1 btn-height" type="button">
                                <i class="fas fa-map-marker-alt"></i>AUTOLOCATE
                            </button>
                    </div>
                </div>
        </div>
    </div>
    <div class="container mt-5 col-md-8">
        <div class="text-center">
            <h1 class="icon-style mb-5">SOME POINTS ARE WORTH DELIVERING</h1>
            <img src="https://www.snappcard.com/assets/img/icons/delivery-location.svg">
            <h3 class="colr1 mt-3">Your location?</h3>
            <p class="mt-3 text">Enter your district or area to find stores that<br>
                    deliver to you.<br>
                    Or allow autolocation through your broswer</p>
            
        </div>
    </div>
</div>